@font-face {
  font-family: Colmeak;
  src: url(./assets/Colmeak.otf);
}

@font-face {
  font-family: Gunken;
  src: url(./assets/Gunken.otf);
}

@font-face {
  font-family: Darklinos;
  src: url(./assets/DARKLINOS.ttf);
}

h2 {
  font-family: Darklinos;
}

ul {
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  font-weight: bold;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}
